#tex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}




#input-area, #inp{
    height: 300px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}