#text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

#text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%
}

#playback-container{
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playback{
    width: 50%;
    overflow-y: auto;
    height: 100px;
}




#input-area, #input{
    height: 300px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#wpm{
    width: 40px;
}