#text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

#playback-container {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playback {
    width: 50%;
    overflow-y: auto;
    height: 100px;
    font-size: 25;
}

#text-centering-container {
    display: flex;
    justify-content: center;
}

#text-container {
    position: relative;
    display: inline-block;
    /* justify-content: center; */
    height: 25vh;
    font-size: 15vh;
}

#left {
    position: absolute;
    right: 100%;
    height: 100%;
    font-size: 100%;
    white-space: nowrap;

}

#center {
    position: relative;
    display: inline-block;
    color: red;
    height: 100%;
    font-size: 100%;

}

#right {
    /* position: absolute;
    white-space: nowrap;
    left: 100%; */
    height: 100%;
    font-size: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
}


#input-area,
#input,
#text-blur {
    height: 300px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#input {
    position: absolute;
    z-index: -1;
    filter:blur(3px);
}

#text-blur {
    position: absolute;
    z-index: 2;

}

#controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wpm {
    width: 40px;
}